*{
margin:0;
padding:0;
box-sizing:border-box;
direction: rtl;
}

.navbar{

position:relative;

display:flex;

align-items:center;

height:115px;

background:#fff;

box-shadow:0 2px 12px rgba(0,0,0,.08);

justify-content: center;
}

.logo{

position:absolute;

right:20px;

}

.logo img{

height:150px;

}


.nav-links{
display:flex;

gap:40px;

list-style:none;
}

.nav-links li{
cursor:pointer;

font-size:18px;

transition:.3s;
}

.nav-links li:hover{
color:#ff5ca8;
}